@model RestaurantFinder.Models.RestaurantCategoryMapping
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h4 class="header-title">Add Restaurant Category</h4>
                        <p class="sub-header">
                            .
                        </p>

                        <form method="post" class="parsley-examples" data-parsley-validate novalidate>
                            @*<div class="form-group">
                                @Html.DropDownListFor(x => x.RestaurantId, new SelectList(ViewBag.allres, "ID", "Name"), "Select Resturant", new { @class = "form-control" })
                            </div>*@
                          @foreach(var item in ViewBag.cate)
                          {
                            <div class="checkbox-inline">
                                <label>@item.Name</label>
                                <input type="checkbox" class="checkboxid" name="CategoryId" value="@item.ID"  />

                            </div>
                          }
                            




                            <div class="form-group text-right mb-0">
                                <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div><!-- end col-->
    </div>
</div>
<!-- end row -->
