<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from coderthemes.com/uplon/layouts/vertical/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jan 2020 22:10:15 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Log In | Uplon - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/Content/assets/images/favicon.ico">
    <!-- App css -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
</head>

<body class="authentication-bg">
    @RenderBody();




    <script src="/Content/assets/js/vendor.min.js"></script>
    <!-- App js -->
    <script src="/Content/assets/js/app.min.js"></script>

</body>
<!-- Mirrored from coderthemes.com/uplon/layouts/vertical/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jan 2020 22:10:15 GMT -->
</html>