@model RestaurantFinder.Models.TableSlotVm
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:orangered">Add Table According your Time Slot</h3>
@using (Html.BeginForm("Create", "TableSlotMapping", FormMethod.Post))
{
    <div class="row">


        <table border="1">
            <tr>
                <th>
                    All Slot
                </th>

                @for (int i = 0; i < ViewBag.tables; i++)
                {



                    <th class="col-md-4">
                        @Model.restaurantTable[i].TableName
                    </th>
                }



            </tr>


            @for (int i = 0; i < ViewBag.slot; i++)
            {
                <tr>
                    <input type="hidden" name="RestaurantSlotId" value="@Model.RestaurantSlot[i].ID" />
                    
                    <td class="col-md-8">@Model.RestaurantSlot[i].StartTime-@Model.RestaurantSlot[i].EndTime</td>



                    @for (int j = 0; j < ViewBag.tables; j++)
                    {
                        <td class="col-md-8"><input type=checkbox name="TableId" value="@Model.restaurantTable[j].ID" /></td>
                    }
                </tr>
            }

        </table>


    </div>
    <div class="form-group text-right mb-0">
        <button class="btn btn-primary waves-effect waves-light mr-1" id="save" type="submit">
            Next
        </button>

    </div>
}
<div id="imagetemplate" style="display:none">
    <img class='image img-fluid' src='' height="50px" width="50px" />
</div>
