
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
           
            <!-- end page title -->
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one">
                        <i class="icon-layers float-right m-0 h2 text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Total Restaurant</h6>
                        <h3 class="my-3" data-plugin="counterup">10</h3>
                                          </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one">
                        <i class="icon-paypal float-right m-0 h2 text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Coupons</h6>
                        <h3 class="my-3"><span data-plugin="counterup">20</span></h3>
                        
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one">
                        <i class="icon-chart float-right m-0 h2 text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Total Table</h6>
                        <h3 class="my-3"><span data-plugin="counterup">15</span></h3>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one">
                        <i class="icon-rocket float-right m-0 h2 text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Available</h6>
                        <h3 class="my-3" data-plugin="counterup">8</h3>
                        
                    </div>
                </div>
            </div>
            <!-- end row -->
    

        </div> <!-- end container-fluid -->
    </div> <!-- end content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2016 - 2019 &copy; Uplon theme by <a href="#">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
