

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:blue;font-size:45px;">
        <b>Foody Bite</b>>
    </div>
    <div>
        <pre style="font-size:15px;">
            Hi Sir/Madam
                Your Restaurant Account Create Please Click this link and login !
                click<a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
